@tailwind base;
@tailwind components;
@tailwind utilities;

.nav {
    background-color: rgba(0, 0, 0, 0.32);
    box-shadow: 10px black;
    color: rgb(255, 255, 255);
    backdrop-filter: blur(10px);
    border: 1px !important;
    border-radius: 5px !important;
}

body {
    background-image: url("assets/ai_image.jpg");
}

.txt {
    background-color: rgba(0, 0, 0, 0.32);
    box-shadow: 10px black;
    color: rgb(255, 255, 255);
    backdrop-filter: blur(10px);
    border-radius: 10px !important;
    border: 1px !important;
}

.bt {
    background-color: rgba(0, 0, 0, 0.32);
    box-shadow: 10px black;
    color: rgb(255, 255, 255);
    backdrop-filter: blur(10px);
    border-radius: 10px !important;
    border: 1px !important;
}